In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
! ls temp

hta_ca.geojson           hta_ca_n.js              school_districts.geojson
hta_ca.js                index.html

In [3]:
df = gpd.read_file("tl_2017_06_place/tl_2017_06_place.shp")
print(type(df))
df.head()

<class 'geopandas.geodataframe.GeoDataFrame'>

,STATEFP,PLACEFP,PLACENS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,PCICBSA,PCINECTA,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,66140,02411785,0666140,San Fernando,San Fernando city,25,C1,N,N,G4110,A,6148697,0,+34.2886519,-118.4362413,"POLYGON ((-118.456008 34.284903, -118.454141 3..."
1,06,14190,02409487,0614190,Cloverdale,Cloverdale city,25,C1,N,N,G4110,A,7863864,59201,+38.7959624,-123.0153700,"POLYGON ((-123.035115 38.787005, -123.035093 3..."
2,06,16560,02410240,0616560,Cotati,Cotati city,25,C1,N,N,G4110,A,4869007,8380,+38.3284920,-122.7100491,"POLYGON ((-122.729598 38.333486, -122.729512 3..."
3,06,65042,02411779,0665042,San Buenaventura (Ventura),San Buenaventura (Ventura) city,25,C1,Y,N,G4110,A,56500370,27033717,+34.2677796,-119.2542062,"(POLYGON ((-119.297103 34.344633, -119.297012 ..."
4,06,30014,02410601,0630014,Glendora,Glendora city,25,C1,N,N,G4110,A,50634794,400124,+34.1449667,-117.8476672,"POLYGON ((-117.891093 34.14581, -117.89064 34...."

In [4]:
tract = df = gpd.read_file("tl_2017_06_tract/tl_2017_06_tract.shp")
tract.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,001,442700,06001442700,4427,Census Tract 4427,G5020,S,1234034,0,+37.5371514,-122.0081094,"POLYGON ((-122.017211 37.539323, -122.017186 3..."
1,06,001,442800,06001442800,4428,Census Tract 4428,G5020,S,1278647,0,+37.5293619,-121.9931002,"POLYGON ((-122.002301 37.529836, -122.002236 3..."
2,06,037,204920,06037204920,2049.20,Census Tract 2049.20,G5020,S,909972,0,+34.0175004,-118.1974975,"POLYGON ((-118.202837 34.019657, -118.202829 3..."
3,06,037,205110,06037205110,2051.10,Census Tract 2051.10,G5020,S,286962,0,+34.0245059,-118.2142985,"POLYGON ((-118.219635 34.026285, -118.219449 3..."
4,06,037,205120,06037205120,2051.20,Census Tract 2051.20,G5020,S,1466129,0,+34.0187546,-118.2117956,"POLYGON ((-118.220227 34.020564, -118.220183 3..."